@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    <div class="text-center d-flex align-items-center justify-content-center">
        <i class="fa-solid fa-house fa-2x"></i>
        <h1 class="display-4" style="margin-left: 15px;">Inmobiliaria</h1>
    </div>
    <p>Creando una pagina </p>
</div>
